.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(38, 95, 86);
    color: white;
}

.navItem {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
}
a{
    margin-right: 10px;
    color: white;
    text-decoration: none;
}